on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          
      - name: run tests
        run: dotnet test

      - name: publish nuget packages
        uses: rohith/publish-nuget@v2
        with:
          PROJECT_FILE_PATH: "./src/Lib.AspNetCore.Auth.Intranet/Lib.AspNetCore.Auth.Intranet.csproj"
          VERSION_STATIC: 1.0.0
          NUGET_KEY: ${{secrets.NUGET_TOKEN}}
          NUGET_SOURCE: https://api.nuget.org
          INCLUDE_SYMBOLS: true